.App {
  text-align: center;
}

.list {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #d3d3d3;
}

.list-item {
  padding: 0.2rem 0.4rem;
  background-color: #ffffff;
  text-align: left;
  margin-bottom: 1rem;

}

/* .App-header {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */